.product{
    margin: 0 auto;
    padding: 10px;
    height: 250px;
    width: 450px;
    border: 2px #acdcdc solid;
}
.product input{
    border: lavender solid 2px;
    margin-left: 200px;
    padding: 5px;
}